## 1. Introduction to Jupyter Notebook:

In [12]:
# Alt + Enter run the current cell, insert below

In [15]:
# Shift + Enter run the current cell, select below

In [16]:
# Ctrl + Enter run selected cells

In [17]:
# p: search commands shortcuts

### 1.1 Code blocks:

In [18]:
x = input("type something:")

type something:i

In [20]:
x

'i'

In [21]:
y = input("type something gain:")

type something gain:d

In [22]:
y

'd'

In [23]:
x+y

'id'

### 1.2 Markdown/LaTeX :

QQQ 关于LaTeX的语法？我学术论文用，工作环境中也用？

You can type mathmatical formulas:
$$ f(x)= \frac{e^{-\frac{1}{2}x^2}}{\sqrt{2\pi}} \sqrt{g(x)} $$

You can also insert image:![Image](https://www.ie.edu/exponential-learning/blog/wp-content/uploads/2018/01/MachineLearninginMarketing-1621x1000.jpg)

Also table, 


1.   item 1
2.   item 2
3.   item3

Code:

```
a,b = 10,20
```

```
from pandas import DataFrame
```



For course and homework, we would widely use markdown as the format for our presentation and illustration.

You can type mathmatical formulas:
$$ f(x)= \frac{e^{-\frac{1}{2}x^2}}{\sqrt{2\pi}} \sqrt{g(x)} $$

You can also insert image:![Image](https://www.ie.edu/exponential-learning/blog/wp-content/uploads/2018/01/MachineLearninginMarketing-1621x1000.jpg)

Also table, 


1.   item 1
2.   item 2
3.   item3

Code:

```
a,b = 10,20
```

```
from pandas import DataFrame
```



For course and homework, we would widely use markdown as the format for our presentation and illustration.

## 2. Python Basics -- variables, operators, expressions

In [29]:
a = 5
type(a)

int

In [30]:
b = 9.0
type(b)

float

In [32]:
c = 'cindy'

In [33]:
type(c)

str

### 2.1 Type function

In [34]:
type(1)

int

In [35]:
type('1')

str

In [36]:
type(0.0)

float

In [37]:
type('12')

str

### 2.2 str -- string

In [42]:
type('string') # '' and " " are same

str

In [39]:
type("string")

str

In [40]:
type('''string''')

str

In [41]:
type("""string""")

str

In [43]:
type('''str 1 \n fds''')

str

### 2.3 The assignment statement gives a value to a variable:
One of the most powerful features of a programming language is the ability to manipulate
variables. A variable is a name that refers to a value.

In [56]:
message = "This is a 'message'!"
message

"This is a 'message'!"

In [57]:
print(message)

This is a 'message'!

In [58]:
message1 = "This is a \"message\"."
message1

'This is a "message".'

In [59]:
print(message1)

This is a "message".

In [52]:
message2 = '''
This is a "message" and \n
'message'
'''
message2

'\nThis is a "message" and \n\n\'message\'\n'

In [54]:
print(message2)

This is a "message" and

'message'

In [55]:
type(message2)

str

### 2.4 Numbers: int -- integer, float
Say "n gets the value of 10." Don't say "n equals 10."

In [63]:
pi = 3.14
pi

3.14

In [65]:
# pi get the value of 3.14

In [69]:
pi; # will not get the result when adding ; at the end

Cannot assign value reversely:

In [72]:
1 == pi

False

In [73]:
pi == 1

False

### 2.5 Give variable a name:

In [75]:
num_of_10 = 10 # this is a hard code
num_of_10

10

In [76]:
student_num = 20
student_num

20

In [78]:
# 3. Can not use reserved key words，such as break, else

break = 10

else = 10
else

Some good practice:

In [79]:
num_current_students = 30
num_current_students

30

In [80]:
numOfCurrentStudents = 40
numOfCurrentStudents

40

### 2.6 Operators
***Operators*** represent calculations like +,-,*,/, etc.

The results are called ***operands***.

#### 2.6.1 What kind of operators do we have in Python? What's the order?

In [81]:
1+1

2

In [82]:
10/4

2.5

In [83]:
10//4

2

In [85]:
10%4 # yu shu

2

In [86]:
10 ** 2

100

In [88]:
10 ** 3

1000

In [90]:
10 ** 4

10000

In [93]:
True & False # '&' = and

False

QQQ: when numbers? what does & means?

In [97]:
1 & 2

0

In [98]:
34 & 90

2

In [99]:
9342 & 432

48

In [102]:
True | False # ‘|’ means OR

True

In [100]:
a = input()

123

In [101]:
type(a)

str

#### 2.6.2 Can we apply operators out of numbers?

In [103]:
1+a

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [104]:
"abc" - "a"

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [106]:
123 - 1

122

In [107]:
"hell" + "o"

'hello'

In [108]:
"hello" / 5

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [111]:
"hello" * 5

'hellohellohellohellohello'

In [112]:
hello * 5

NameError: name 'hello' is not defined

Another way for concating strings is .format()

In [115]:
age = input()

1

In [116]:
"My son is {} years old".format(age)

'My son is 1 years old'

### 2.7 Evaluate an expression
An ***expression*** contains variables, values, operators, functions(we will mention later).
Python kernel/interpreter will help us evaluate the expression -- get the value or result of the expression.

a = 10
a/5

a = 10
a = a+1
a

len("Hello World")

type('1')

A special function is 'print'. Print did the same job as Python prompt, which displays the output in the console.

print(len("Hello World"))

### 2.8 Type converter function

t = "15"
type(t)

type("15")

int(3.14)

float(15)

str(15)

str(15.0)

str(float(15))

int("15 students")

### 2.9 Now let's build first tiny script!

r = 8
pi = "3.1415926"
area_r = float(pi) * (r ** 2)
print('Area of circle with radius {} is {}'.format(r, area_r))
R = r + 2
area_R = float(pi) * R ** 2
print('Area of circle with Radius {} is {}'.format(R, area_R))
area_diff = area_R - area_r
print('Area difference is {}'.format(area_diff))